body {
    width:100%;
    margin:0;
    padding:0;
    background-color:#000;
}

video {
    display:none;
}

svg,
canvas {
    margin: 0 auto;
    display:block;
}

canvas {
    border: solid 5px blue;
}

canvas.hover {
    border-color:green;
}

output {
    color:#fff;
}