html {
    height:100%;
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:#fff;
    color:#000;
}

video {
    display:none;
}

#facejam {
    position:fixed;
    right:0;
    z-index:-1;
}

.colors {
    float:left;
}

form {
    position:fixed;
}

#performance {
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
}

#timeline {
    position:fixed;
    bottom:0;
    min-width: 100%;
    overflow-x:scroll;
    height: 100px;
    opacity:0.5;
}

#timeline img {
    height:100px;
    float:left;
}